.jumbotron {
  height: 184px;
  padding: 76px;
}

.jumbotron h1 {
  float: left;
}

.jumbotron img {
  width: auto;
  float: right;
}

#profile_picture img {
  border-radius: 50%;
  margin: auto;
  display: block;
  width: 30%;
}

.section {
  margin-bottom: 20px;
}

#contents {
  padding-left: 50%; 
}

#contents a {
  color: #0645AD;
}

#contents ol {
  padding-left: 20px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 14px;
}

.btn-light {
  border: solid 1px black;
}

.repo_img {
  background-color: white;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {

}

em {
  font-style: italic;
}

/* .card .btn {
  background-color: black;
  border-color: black;
} */
