.jumbotron img {
  width: 50px;
}

#profile_picture img {
  border-radius: 50%;
  margin: auto;
  display: block;
  width: 30%;
}

.section {
  margin-bottom: 20px;
}

#contents {
  padding-left: 50%; 
}

#contents a {
  color: #0645AD;
}

/* .card .btn {
  background-color: black;
  border-color: black;
} */
